<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--  -->
        <meta http-equiv="Refresh" content="30">

        <title>Welcome</title>
        <script src="/reload/reload.js"></script>
        <link rel="stylesheet" type="text/css" href="./stylesheets/index.css" media="screen" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>

    <body>

        <h1>Call Center</h1>
        <hr>
        
        <!-- table of phone calls  -->
        <table id="tbUser">
          <thead>
            <tr>
              <th>Start Time</th>
              <th>City</th>
              <th>Gender</th>
              <th>Age</th>
              <th>Prev Calls</th>
              <th>Product</th>
              <!--<th>Topic</th>-->
            </tr>
          </thead>  

          <tbody>

            
            <!-- fill the table from database  -->
            <% if (locals.calls_) { %>
              <% var x = 1 %>
                 <% calls_.forEach(function(obj) { %>
                 <tr>
                    
                    <!--
                    <td><%= obj.StartTime %></td>
                    <td><%= obj.City %></td>
                    <td><%= obj.Gender %></td>
                    <td><%= obj.Age %></td>
                    <td><%= obj.PrevCalls %></td>
                    <td><%= obj.Product %></td>
                    <td><%= obj.Topic %></td>
                    -->


                    <td><%= obj.time %></td>
                    <td><%= obj.city %></td>
                    <td><%= obj.gender %></td>
                    <td><%= obj.age %></td>
                    <td><%= obj.prev %></td>
                    <td><%= obj.product %></td>
                    <!--<td><%= obj.topic %></td>-->

                    <!-- add button in the first row  -->
                    <%if (x == 1){ %>
                      <td><button class="btnDelete">Answer</button></td>
                    <% } %>
                    
              <% x++;}); %>
              <% } %>

 
          </tbody>           

        </table>

        <!-- remove row on button click  -->
        <script>
          $(document).ready(function(){
            $("#tbUser").on('click','.btnDelete',function(){
                  //$(this).closest('tr').remove();
                  $(this).closest('tr').toggleClass("active");
                  $(".btnDelete").html("Call Accepted");
                  
                });
            });
        </script>

    </body>
</html>